div.sub-container-1 div.head-panel {
  position: static;
}

div.sub-container-1 div.home-big-div {
  height: 50px;
}

div.home-small-div p.home-text {
  font-size: 21px;
  font-weight: bold;
  /* margin: 10px 0 10px 0; */
}

div.sub-containers-padding {
  padding: 0px 15px;
}

div.sub-containers-border {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(235, 232, 232);
  border-left: none;
  border-right: none;
  border-top: none;
}

div.home-small-div {
  padding: 13px 0;
}

div.for-following-div {
  display: flex;
  flex-direction: row;
}

div.for-following-subs {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  transition: 0.15s;
  /* text-align: center;
  vertical-align: middle; */
  /* align-items: center; */
}

div.for-following-subs:hover {
  background-color: lightgray;
}

div.for-following-subs p {
  font-size: 15px;
  padding: 17px 0 20px 0;
}

div.tweet-1-main-div {
  height: 114px;
  padding-top: 3px;
}

div.tweet-1-sub-div-1 {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  height: 113px;
}

div.tweet-img-div {
  width: 50px;
  margin-right: 10px;
}

img.tweet-pic {
  height: 50px;
  border-radius: 25px;
}

div.div-p {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* height: 50px; */
  /* margin-left: 5px; */
  /* padding: 13px 0 13px 0s */
}

.div-p-sub {
  font-size: 20px;
  color: gray;
}

img.tweet-1-icons {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.15s;
  padding: 7px;
}

img.tweet-1-icons:hover {
  background-color: lightblue;
}

.tweet-button-2 {
  height: 37px;
  width: 79px;
  background-color: rgb(145, 204, 243);
  border: none;
  border-radius: 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

div.show-tweet-div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}

div.show-tweet-div:hover {
  background-color: rgba(209, 208, 208, 0.219);
}

div.show-tweet-div p {
  color: rgb(29, 155, 240);
}

div.tweet-2-main-div {
  height: 118px;
  cursor: pointer;
  transition: 0.15s;
}

div.tweet-2-main-div:hover {
  background-color: rgba(241, 240, 240, 0.705);
}

div.tweet-2-subdiv-1 {
  display: flex;
  flex-direction: row;
  height: 109px;
  padding-top: 10px;
}

div.tweet-2-subdiv-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.tweet-2-subdiv-2-aplha {
  display: flex;
  flex-direction: row;
}

div.tweet-2-subdiv-2-beta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img.beta-img {
  height: 12px;
  /* padding: 5px;
  border-radius: 20px;
  transition: 0.15s; */
}

/* img.beta-img:hover {
  background-color: lightblue;
} */

div.alpha-subdiv {
  margin-right: 4px;
}

div.tweet-2-subdiv-2-omega {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 21px;
  width: 420px;
  margin: 15px 0;
}

div.omega-subdiv {
  display: flex;
  flex-direction: row;
  /* align-items: top; */
}

img.omega-icons {
  height: 18px;
  padding: 5px;
  border-radius: 20px;
  transition: 0.15s;
}

img.omega-icons:hover {
  background-color: lightblue;
}

p.omega-text {
  font-size: 15px;
  padding: 5px 10px 0 10px;
}

div.tweet-3-main-div {
  height: 200px;
  cursor: pointer;
  transition: 0.15s;
}

div.tweet-3-main-div:hover {
  background-color: rgba(241, 240, 240, 0.705);
}

div.tweet-3-subdiv-1 {
  display: flex;
  flex-direction: row;
  height: 191px;
  padding-top: 10px;
}

div.tweet-3-subdiv-2 {
  height: 45px;
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 15px;
  transition: 0.15s;
}

div.tweet-3-subdiv-2:hover {
  background-color: rgb(235, 233, 233);
}

div.tweet-3-subdiv-4 {
  display: flex;
  flex-direction: row;
}
